/* Ali's SCSS */

body {
  background: lighten($secondary-color, 10%);
}

.page {
  background: rgba(255,255,255,0.8);
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: $reveal-overlay-bg;
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  z-index: 1050;
  top: $reveal-position-top;
}

.modal-content {
  background: $reveal-modal-bg;
  width: $reveal-default-width;
  padding: $reveal-modal-padding;
  box-shadow: $reveal-box-shadow;
  margin: 0 auto;

}

.modal .row {
  max-width: 100%;
}

.close {
  background: $alert-color;
  border-color: darken($alert-color, 30%);

  &:hover {
    background: darken($alert-color, 20%);
  }
}

.complete {
  background: $success-color;
  border-color: darken($success-color, 30%);

  &:hover {
    background: darken($success-color, 20%);
  }
}


.sub-heading {
  color: lighten($dark-grey, 20%);
  font-size:2em;
}
.icon-star-o {
  color: $dark-grey;
}
.icon-star {
  color: $secondary-color;
}

.menu {
  list-style: none;
  margin-left: 0;
  font-size:1.5em;
}

.intro {
  font-size: 1.5em;
  color: $dark-grey;
}