/* Ali's SCSS */

body {
  background: lighten($secondary-color, 10%);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.page {
  background: #FFF;
  background: rgba(255,255,255,0.8);
  height: 100%;
}


.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: $reveal-overlay-bg;
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  z-index: 1050;
  top: $reveal-position-top;

}

.modal-content {
  background: $reveal-modal-bg;
  width: $reveal-default-width;
  box-shadow: $reveal-box-shadow;
  margin: 0 auto;
  border: 1px solid $dark-grey;
}

.modal-header, .modal-body {
  padding: $reveal-modal-padding;
}

.title {
  text-align: center;
}

.modal-header {
  border-bottom: 1px solid lighten($dark-grey, 40%);
  background: lighten($primary-color, 60%);

  h1 {
    @media #{$medium} {
      margin: 0 4em 0.5em 4em;
    }
    @media #{$small} {
      background: $primary-color;
    }

    padding: 0.5em;
  }

  @media only screen and (max-width: $small-screen)
  {
    .columns {width: 100%;}
  }
}

input[type="checkbox"] {
  margin: 1em 0;
}

.modal .row {
  max-width: 100%;
}

.close {
  background: $alert-color;
  border-color: darken($alert-color, 30%);

  &:hover {
    background: darken($alert-color, 20%);
  }
}

.complete {
  background: $success-color;
  border-color: darken($success-color, 30%);

  &:hover {
    background: darken($success-color, 20%);
  }

  &:before {
    font-size:2em;
  }
}

//Progress stars
.sub-heading {
  color: lighten($dark-grey, 20%);
  font-size: 1.5em;
  line-height: 2em;

  @media #{$medium} {
    font-size:2em;
  }
}

.today-progress {
  width: 100%;
  display: block;
  @media #{$medium} {
    display:inline;
  }
}

.icon-star-o {
  color: $dark-grey;
}
.icon-star {
  color: $secondary-color;
}


.menu {
  list-style: none;
  margin-left: 0;
  padding-left:0;

  a {
    display:block;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
  .button.expand {
    padding: 0.5em;
    font-size:1.25em;
    line-height: 1.25em;

    @media #{$medium} {
      font-size:1.5em;
      line-height: 1.5em;
    }

    .left {
      @media #{$medium} {
        font-size:1.5em;
        margin-left:0.5em;
      }

    }
  }
}

.intro {
  font-size: 1.5em;
  color: $dark-grey;
}

@media only screen and (max-width: $small-screen)
{
  .prev, .next {
    width: 50%;
  }
}