/* Ali's SCSS */

body {
  background: lighten($secondary-color, 10%);
}

.page {
  background: rgba(255,255,255,0.8);
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: $reveal-overlay-bg;
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  z-index: 1050;
  top: $reveal-position-top;


}

.modal-content {
  background: $reveal-modal-bg;
  width: $reveal-default-width;
  box-shadow: $reveal-box-shadow;
  margin: 0 auto;
}

.modal-header, .modal-body {
  padding: $reveal-modal-padding;
}

.title {
  text-align: center;
}

.modal-header {
  border-bottom: 1px solid lighten($dark-grey, 40%);
  background: lighten($primary-color, 60%);

  h1 {
    @media #{$medium} {
      margin: 1em 4em;
    }
    @media #{$small} {
      background: $primary-color;
    }

    padding: 0.5em;
  }

  @media only screen and (max-width: $small-screen)
  {
    .columns {width: 100%;}
  }
}


.modal .row {
  max-width: 100%;
}

.close {
  background: $alert-color;
  border-color: darken($alert-color, 30%);

  &:hover {
    background: darken($alert-color, 20%);
  }
}

.complete {
  background: $success-color;
  border-color: darken($success-color, 30%);

  &:hover {
    background: darken($success-color, 20%);
  }

  &:before {
    font-size:2em;
  }
}


.sub-heading {
  color: lighten($dark-grey, 20%);
  font-size:2em;
}
.icon-star-o {
  color: $dark-grey;
}
.icon-star {
  color: $secondary-color;
}


.menu {
  list-style: none;
  margin-left: 0;
  font-size:1.5em;

  a {
    display:block;
    padding: 1em;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .button {
    padding: 0;
  }
}

.intro {
  font-size: 1.5em;
  color: $dark-grey;
}

@media only screen and (max-width: $small-screen)
{
  .prev, .next {
    width: 50%;
  }
}