@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot?kt9gr5');
  src:url('../font/icomoon.eot?#iefixkt9gr5') format('embedded-opentype'),
  url('../font/icomoon.woff?kt9gr5') format('woff'),
  url('../font/icomoon.ttf?kt9gr5') format('truetype'),
  url('../font/icomoon.svg?kt9gr5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-times:before {
  content: "\f00d";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-trophy:before, .icon-sports:before {
  content: "\f091";
}
.icon-doctor:before {
  content: "\f0f1";
}
.icon-suitcase:before, .icon-goals:before {
  content: "\f0f2";
}
.icon-drink:before {
  content: "\f0f4";
}
.icon-meal:before {
  content: "\f0f5";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before, .icon-todo:before {
  content: "\f0f2";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-books:before {
  content: "\e600";
}

