/* line 241, ../sass/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 246, ../sass/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 249, ../sass/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 262, ../sass/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../sass/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 270, ../sass/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 273, ../sass/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 274, ../sass/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../sass/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 285, ../sass/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 286, ../sass/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 287, ../sass/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 288, ../sass/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 289, ../sass/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 290, ../sass/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 291, ../sass/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 297, ../sass/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 300, ../sass/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../sass/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 313, ../sass/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 116, ../sass/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 121, ../sass/foundation/components/_grid.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 124, ../sass/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 125, ../sass/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 130, ../sass/foundation/components/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 135, ../sass/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 138, ../sass/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 142, ../sass/foundation/components/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 145, ../sass/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 146, ../sass/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 149, ../sass/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 156, ../sass/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 160, ../sass/foundation/components/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 164, ../sass/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 165, ../sass/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 169, ../sass/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 172, ../sass/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 179, ../sass/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* line 170, ../sass/foundation/components/_buttons.scss */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #00ad9f;
  border-color: #007a70;
  color: white;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #007a70;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}
/* line 175, ../sass/foundation/components/_buttons.scss */
button.secondary, .button.secondary {
  background-color: #fcd954;
  border-color: #fbce22;
  color: white;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #fbce22;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: white;
}
/* line 176, ../sass/foundation/components/_buttons.scss */
button.success, .button.success {
  background-color: #8fc258;
  border-color: #76a93e;
  color: white;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #76a93e;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: white;
}
/* line 177, ../sass/foundation/components/_buttons.scss */
button.alert, .button.alert {
  background-color: #fc5749;
  border-color: #fb2917;
  color: white;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #fb2917;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}
/* line 179, ../sass/foundation/components/_buttons.scss */
button.large, .button.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
}
/* line 180, ../sass/foundation/components/_buttons.scss */
button.small, .button.small {
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 0.8125em;
}
/* line 181, ../sass/foundation/components/_buttons.scss */
button.tiny, .button.tiny {
  padding-top: 0.4375em;
  padding-right: 0.875em;
  padding-bottom: 0.5em;
  padding-left: 0.875em;
  font-size: 0.6875em;
}
/* line 182, ../sass/foundation/components/_buttons.scss */
button.expand, .button.expand {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
/* line 184, ../sass/foundation/components/_buttons.scss */
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75em;
}
/* line 185, ../sass/foundation/components/_buttons.scss */
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75em;
}
/* line 187, ../sass/foundation/components/_buttons.scss */
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #00ad9f;
  border-color: #007a70;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #007a70;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}
/* line 145, ../sass/foundation/components/_buttons.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #00ad9f;
}
/* line 188, ../sass/foundation/components/_buttons.scss */
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #fcd954;
  border-color: #fbce22;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #fbce22;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: white;
}
/* line 145, ../sass/foundation/components/_buttons.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #fcd954;
}
/* line 189, ../sass/foundation/components/_buttons.scss */
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #8fc258;
  border-color: #76a93e;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #76a93e;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}
/* line 145, ../sass/foundation/components/_buttons.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #8fc258;
}
/* line 190, ../sass/foundation/components/_buttons.scss */
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #fc5749;
  border-color: #fb2917;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 121, ../sass/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #fb2917;
}
/* line 132, ../sass/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}
/* line 145, ../sass/foundation/components/_buttons.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #fc5749;
}

/* line 195, ../sass/foundation/components/_buttons.scss */
button, .button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
}
/* line 197, ../sass/foundation/components/_buttons.scss */
button.tiny, .button.tiny {
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
}
/* line 198, ../sass/foundation/components/_buttons.scss */
button.small, .button.small {
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
}
/* line 199, ../sass/foundation/components/_buttons.scss */
button.large, .button.large {
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
}

@media only screen {
  /* line 205, ../sass/foundation/components/_buttons.scss */
  button, .button {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }
  /* line 68, ../sass/foundation/components/_global.scss */
  button:active, .button:active {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2) inset;
  }
  /* line 213, ../sass/foundation/components/_buttons.scss */
  button.radius, .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 214, ../sass/foundation/components/_buttons.scss */
  button.round, .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 222, ../sass/foundation/components/_buttons.scss */
  button, .button {
    display: inline-block;
  }
}
/* Standard Forms */
/* line 258, ../sass/foundation/components/_forms.scss */
form {
  margin: 0 0 1em;
}

/* Using forms within rows, we need to set some defaults */
/* line 67, ../sass/foundation/components/_forms.scss */
form .row .row {
  margin: 0 -0.5em;
}
/* line 70, ../sass/foundation/components/_forms.scss */
form .row .row .column,
form .row .row .columns {
  padding: 0 0.5em;
}
/* line 73, ../sass/foundation/components/_forms.scss */
form .row .row.collapse {
  margin: 0;
}
/* line 76, ../sass/foundation/components/_forms.scss */
form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0;
}
/* line 83, ../sass/foundation/components/_forms.scss */
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5em;
}

/* Label Styles */
/* line 264, ../sass/foundation/components/_forms.scss */
label {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
  margin-bottom: 0.1875em;
}
/* line 265, ../sass/foundation/components/_forms.scss */
label.right {
  float: none;
  text-align: right;
}
/* line 266, ../sass/foundation/components/_forms.scss */
label.inline {
  margin: 0 0 1em 0;
  padding: 0.625em 0;
}

/* Attach elements to the beginning or end of an input */
/* line 271, ../sass/foundation/components/_forms.scss */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em;
}

/* Adjust padding, alignment and radius if pre/post element is a button */
/* line 274, ../sass/foundation/components/_forms.scss */
.postfix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125em;
}

/* line 275, ../sass/foundation/components/_forms.scss */
.prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125em;
}

/* line 277, ../sass/foundation/components/_forms.scss */
.prefix.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 278, ../sass/foundation/components/_forms.scss */
.postfix.button.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 279, ../sass/foundation/components/_forms.scss */
.prefix.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}

/* line 280, ../sass/foundation/components/_forms.scss */
.postfix.button.round {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

/* Separate prefix and postfix styles when on span so buttons keep their own */
/* line 283, ../sass/foundation/components/_forms.scss */
span.prefix {
  background: #f2f2f2;
  border-color: #d9d9d9;
  border-right: none;
  color: #333333;
}
/* line 284, ../sass/foundation/components/_forms.scss */
span.prefix.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 286, ../sass/foundation/components/_forms.scss */
span.postfix {
  background: #f2f2f2;
  border-color: #cccccc;
  border-left: none;
  color: #333333;
}
/* line 287, ../sass/foundation/components/_forms.scss */
span.postfix.radius {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Input groups will automatically style first and last elements of the group */
/* line 293, ../sass/foundation/components/_forms.scss */
.input-group.radius > *:first-child, .input-group.radius > *:first-child * {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 296, ../sass/foundation/components/_forms.scss */
.input-group.radius > *:last-child, .input-group.radius > *:last-child * {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 301, ../sass/foundation/components/_forms.scss */
.input-group.round > *:first-child, .input-group.round > *:first-child * {
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
/* line 304, ../sass/foundation/components/_forms.scss */
.input-group.round > *:last-child, .input-group.round > *:last-child * {
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

/* We use this to get basic styling on all basic form elements */
/* line 324, ../sass/foundation/components/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
/* line 134, ../sass/foundation/components/_global.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}
/* line 107, ../sass/foundation/components/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}
/* line 114, ../sass/foundation/components/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  background-color: #dddddd;
}

/* Adjust margin for form elements below */
/* line 335, ../sass/foundation/components/_forms.scss */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em 0;
}

/* Normalize file input width */
/* line 340, ../sass/foundation/components/_forms.scss */
input[type="file"] {
  width: 100%;
}

/* We add basic fieldset styling */
/* line 345, ../sass/foundation/components/_forms.scss */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25em;
  margin: 1.125em 0;
}
/* line 215, ../sass/foundation/components/_forms.scss */
fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}

/* Error Handling */
/* line 353, ../sass/foundation/components/_forms.scss */
.error input,
input.error,
.error textarea,
textarea.error {
  border-color: #fc5749;
  background-color: rgba(252, 87, 73, 0.1);
}
/* line 230, ../sass/foundation/components/_forms.scss */
.error input:focus,
input.error:focus,
.error textarea:focus,
textarea.error:focus {
  background: #fafafa;
  border-color: #999999;
}

/* line 358, ../sass/foundation/components/_forms.scss */
.error label,
label.error {
  color: #fc5749;
}

/* line 361, ../sass/foundation/components/_forms.scss */
.error small,
small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: -1.3125em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #fc5749;
  color: white;
}

/* Custom Checkbox and Radio Inputs */
/* line 67, ../sass/foundation/components/_custom-forms.scss */
form.custom .hidden-field {
  margin-left: -99999px;
  position: absolute;
  visibility: hidden;
}
/* line 73, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  border: solid 1px #cccccc;
  background: white;
}
/* line 82, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.checkbox {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: -1px;
}
/* line 86, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.radio {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 3px;
}
/* line 91, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.checkbox:before {
  content: "";
  display: block;
  font-size: 16px;
  color: white;
}
/* line 100, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.radio.checked:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  background: #222222;
  position: relative;
}
/* line 112, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.checkbox.checked:before {
  content: "\00d7";
  color: #222222;
  position: absolute;
  top: -50%;
  left: 50%;
  margin-top: 4px;
  margin-left: -5px;
}

/* Custom Select Options and Dropdowns */
/* line 126, ../sass/foundation/components/_custom-forms.scss */
form.custom {
  /* Custom input, disabled */
}
/* line 127, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown {
  display: block;
  position: relative;
  top: 0;
  height: 2.3125em;
  margin-bottom: 1.25em;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
  -webkit-box-shadow: none;
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
  box-shadow: none;
  font-size: 0.875em;
  vertical-align: top;
}
/* line 147, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul {
  overflow-y: auto;
  max-height: 200px;
}
/* line 152, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .current {
  cursor: default;
  white-space: nowrap;
  line-height: 2.25em;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  overflow: hidden;
  display: block;
  margin-left: 0.5em;
  margin-right: 2.3125em;
}
/* line 164, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .selector {
  cursor: default;
  position: absolute;
  width: 2.5em;
  height: 2.3125em;
  display: block;
  right: 0;
  top: 0;
}
/* line 172, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .selector:after {
  content: "";
  display: block;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #aaaaaa transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  left: 0.9375em;
  top: 50%;
  margin-top: -3px;
}
/* line 185, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #222222 transparent transparent transparent;
  border-top-style: solid;
}
/* line 189, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .disabled {
  color: #888888;
}
/* line 191, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .disabled:hover {
  background: transparent;
  color: #888888;
}
/* line 194, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown .disabled:hover:after {
  display: none;
}
/* line 198, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.open ul {
  display: block;
  z-index: 10;
  min-width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 205, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.small {
  max-width: 134px;
}
/* line 206, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.medium {
  max-width: 254px;
}
/* line 207, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.large {
  max-width: 434px;
}
/* line 208, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.expand {
  width: 100% !important;
}
/* line 210, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.open.small ul {
  min-width: 134px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 211, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.open.medium ul {
  min-width: 254px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 212, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown.open.large ul {
  min-width: 434px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 215, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul {
  position: absolute;
  width: auto;
  display: none;
  margin: 0;
  left: -1px;
  top: auto;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
}
/* line 232, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul li {
  color: #555555;
  font-size: 0.875em;
  cursor: default;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.375em;
  padding-right: 2.375em;
  min-height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  white-space: nowrap;
  list-style: none;
}
/* line 246, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul li.selected {
  background: #eeeeee;
  color: black;
}
/* line 250, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul li:hover {
  background-color: #e4e4e4;
  color: black;
}
/* line 254, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul li.selected:hover {
  background: #eeeeee;
  cursor: default;
  color: black;
}
/* line 261, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.dropdown ul.show {
  display: block;
}
/* line 265, ../sass/foundation/components/_custom-forms.scss */
form.custom .custom.disabled {
  background: #dddddd;
}

/* line 109, ../sass/foundation/components/_reveal.scss */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 98;
  display: none;
  top: 0;
  left: 0;
}

/* line 111, ../sass/foundation/components/_reveal.scss */
.reveal-modal {
  visibility: hidden;
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  height: auto;
  margin-left: -40%;
  width: 80%;
  background-color: white;
  padding: 1.25em;
  border: solid 1px #666666;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 50px;
}
/* line 62, ../sass/foundation/components/_reveal.scss */
.reveal-modal .column,
.reveal-modal .columns {
  min-width: 0;
}
/* line 65, ../sass/foundation/components/_reveal.scss */
.reveal-modal > :first-child {
  margin-top: 0;
}
/* line 66, ../sass/foundation/components/_reveal.scss */
.reveal-modal > :last-child {
  margin-bottom: 0;
}
/* line 115, ../sass/foundation/components/_reveal.scss */
.reveal-modal .close-reveal-modal {
  font-size: 1.375em;
  line-height: 1;
  position: absolute;
  top: 0.5em;
  right: 0.6875em;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  /* line 121, ../sass/foundation/components/_reveal.scss */
  .reveal-modal {
    padding: 1.875em;
    top: 6.25em;
  }
  /* line 124, ../sass/foundation/components/_reveal.scss */
  .reveal-modal.tiny {
    margin-left: -15%;
    width: 30%;
  }
  /* line 125, ../sass/foundation/components/_reveal.scss */
  .reveal-modal.small {
    margin-left: -20%;
    width: 40%;
  }
  /* line 126, ../sass/foundation/components/_reveal.scss */
  .reveal-modal.medium {
    margin-left: -30%;
    width: 60%;
  }
  /* line 127, ../sass/foundation/components/_reveal.scss */
  .reveal-modal.large {
    margin-left: -35%;
    width: 70%;
  }
  /* line 128, ../sass/foundation/components/_reveal.scss */
  .reveal-modal.xlarge {
    margin-left: -47.5%;
    width: 95%;
  }
}
@media print {
  /* line 134, ../sass/foundation/components/_reveal.scss */
  .reveal-modal {
    background: #fff !important;
  }
}
/* Labels */
/* line 71, ../sass/foundation/components/_labels.scss */
.label {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #00ad9f;
  color: white;
}
/* line 77, ../sass/foundation/components/_labels.scss */
.label.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 78, ../sass/foundation/components/_labels.scss */
.label.round {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 80, ../sass/foundation/components/_labels.scss */
.label.alert {
  background-color: #fc5749;
  color: white;
}
/* line 81, ../sass/foundation/components/_labels.scss */
.label.success {
  background-color: #8fc258;
  color: white;
}
/* line 82, ../sass/foundation/components/_labels.scss */
.label.secondary {
  background-color: #fcd954;
  color: white;
}

/* Ali's SCSS */
/* line 3, ../sass/_app.scss */
body {
  background: #fde486;
}

/* line 7, ../sass/_app.scss */
a {
  text-decoration: none;
}
/* line 10, ../sass/_app.scss */
a:hover {
  text-decoration: none;
}

/* line 15, ../sass/_app.scss */
.page {
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
}

/* line 22, ../sass/_app.scss */
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
}

/* line 31, ../sass/_app.scss */
.modal {
  position: absolute;
  z-index: 1050;
  top: 50px;
}

/* line 38, ../sass/_app.scss */
.modal-content {
  background: white;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  border: 1px solid #3d4851;
}

/* line 46, ../sass/_app.scss */
.modal-header, .modal-body {
  padding: 1.25em;
}

/* line 50, ../sass/_app.scss */
.title {
  text-align: center;
}

/* line 54, ../sass/_app.scss */
.modal-header {
  border-bottom: 1px solid #a1aeb9;
  background: #e0fffc;
}
/* line 58, ../sass/_app.scss */
.modal-header h1 {
  padding: 0.5em;
}
@media only screen and (min-width: 1280px) {
  /* line 58, ../sass/_app.scss */
  .modal-header h1 {
    margin: 0 4em 0.5em 4em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 58, ../sass/_app.scss */
  .modal-header h1 {
    background: #00ad9f;
  }
}
@media only screen and (max-width: 768px) {
  /* line 71, ../sass/_app.scss */
  .modal-header .columns {
    width: 100%;
  }
}

/* line 75, ../sass/_app.scss */
input[type="checkbox"] {
  margin: 1em 0;
}

/* line 79, ../sass/_app.scss */
.modal .row {
  max-width: 100%;
}

/* line 83, ../sass/_app.scss */
.close {
  background: #fc5749;
  border-color: #a91003;
}
/* line 87, ../sass/_app.scss */
.close:hover {
  background: #db1404;
}

/* line 92, ../sass/_app.scss */
.complete {
  background: #8fc258;
  border-color: #425e23;
}
/* line 96, ../sass/_app.scss */
.complete:hover {
  background: #5c8430;
}
/* line 100, ../sass/_app.scss */
.complete:before {
  font-size: 2em;
}

/* line 106, ../sass/_app.scss */
.sub-heading {
  color: #697c8b;
  font-size: 1.5em;
  line-height: 2em;
}
@media only screen and (min-width: 1280px) {
  /* line 106, ../sass/_app.scss */
  .sub-heading {
    font-size: 2em;
  }
}

/* line 116, ../sass/_app.scss */
.today-progress {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 1280px) {
  /* line 116, ../sass/_app.scss */
  .today-progress {
    display: inline;
  }
}

/* line 124, ../sass/_app.scss */
.icon-star-o {
  color: #3d4851;
}

/* line 127, ../sass/_app.scss */
.icon-star {
  color: #fcd954;
}

/* line 132, ../sass/_app.scss */
.menu {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 137, ../sass/_app.scss */
.menu a {
  display: block;
  color: #fff;
}
/* line 141, ../sass/_app.scss */
.menu a:hover {
  color: #fff;
}
/* line 145, ../sass/_app.scss */
.menu .button.expand {
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1.25em;
}
@media only screen and (min-width: 1280px) {
  /* line 145, ../sass/_app.scss */
  .menu .button.expand {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 155, ../sass/_app.scss */
  .menu .button.expand .left {
    font-size: 1.5em;
    margin-left: 0.5em;
  }
}

/* line 165, ../sass/_app.scss */
.intro {
  font-size: 1.5em;
  color: #3d4851;
}

@media only screen and (max-width: 768px) {
  /* line 172, ../sass/_app.scss */
  .prev, .next {
    width: 50%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?kt9gr5");
  src: url("../font/icomoon.eot?#iefixkt9gr5") format("embedded-opentype"), url("../font/icomoon.woff?kt9gr5") format("woff"), url("../font/icomoon.ttf?kt9gr5") format("truetype"), url("../font/icomoon.svg?kt9gr5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/_font.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_font.scss */
.icon-star:before {
  content: "\f005";
}

/* line 29, ../sass/_font.scss */
.icon-star-o:before {
  content: "\f006";
}

/* line 32, ../sass/_font.scss */
.icon-check:before {
  content: "\f00c";
}

/* line 35, ../sass/_font.scss */
.icon-times:before {
  content: "\f00d";
}

/* line 38, ../sass/_font.scss */
.icon-clock-o:before {
  content: "\f017";
}

/* line 41, ../sass/_font.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 44, ../sass/_font.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 47, ../sass/_font.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 50, ../sass/_font.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 53, ../sass/_font.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 56, ../sass/_font.scss */
.icon-trophy:before, .icon-sports:before {
  content: "\f091";
}

/* line 59, ../sass/_font.scss */
.icon-doctor:before {
  content: "\f0f1";
}

/* line 62, ../sass/_font.scss */
.icon-suitcase:before, .icon-goals:before {
  content: "\f0f2";
}

/* line 65, ../sass/_font.scss */
.icon-drink:before {
  content: "\f0f4";
}

/* line 68, ../sass/_font.scss */
.icon-meal:before {
  content: "\f0f5";
}

/* line 71, ../sass/_font.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 74, ../sass/_font.scss */
.icon-suitcase:before, .icon-todo:before {
  content: "\f0f2";
}

/* line 77, ../sass/_font.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 80, ../sass/_font.scss */
.icon-cutlery:before {
  content: "\f0f5";
}

/* line 83, ../sass/_font.scss */
.icon-bullseye:before, .icon-goals:before {
  content: "\f140";
}

/* line 86, ../sass/_font.scss */
.icon-pagelines:before {
  content: "\f18c";
}

/* line 89, ../sass/_font.scss */
.icon-child:before {
  content: "\f1ae";
}

/* line 92, ../sass/_font.scss */
.icon-books:before {
  content: "\e600";
}
