<div class="modal-content">


    <div class="modal-header">
        <div class="row">
                <button href="#" aria-label="Close" class="button close icon-times right" ng-click="closeDetail()"></button>
        </div>
        <div class="row title">
            <div class="columns large-12">
                <h1>{{ activity.longName }} <span ng-class="{'icon-star': activity.input, 'icon-star-o': !activity.input}"></span> </h1>
            </div>
        </div>


        <div class="row">

            <form>
                <div class="large-8">

                    <div class="row right">
                        <div class="small-8 columns">
                            <p>{{ activity.menuText }}</p>
                        </div>
                        <div class="small-2 columns">
                            <input ng-if="!activity.unit" type="checkbox" id="activity-input" ng-model="activity.input">
                            <input ng-if="activity.unit" type="text" id="activity-input-text" placeholder="0" ng-model="activity.input">
                        </div>
                        <div class="small-2 columns left">
                            <label for="activity-input-text" class="left inline">{{ activity.unit }}</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>



    <div class="modal-body">


        <p ng-bind-html="TrustDangerousSnippet(activity.longText)"></p>

        <div class="row">
            <div class="columns large-6 prev"><a href="#/cat/{{ category.shortName }}/card/{{ prev }}/" aria-label="Previous TEST card: {{ prev }}" class="button icon-arrow-left"></a></div>
            <div class="columns large-6 next"><a href="#/cat/{{ category.shortName }}/card/{{ next }}/" aria-label="Next card: {{ next }}" class="button right icon-arrow-right"></a></div>
        </div>

    </div>


</div>